<h2> <%= @restaurant.name %> </h2>
<p> <%= @restaurant.address %> </p>
<p> <%= @restaurant.phone_number %> </p>
<p> <%= @restaurant.category.capitalize %> food </p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
    <p><%= review.rating %></p>
  <% end %>
</ul>

<%= link_to "Create a Review", new_restaurant_review_path(@restaurant) %>
